.app-body {
  width: fit-content;
  margin: 0 auto;
  margin-top: 10%;
  max-width: 80%;
}

button {
  cursor: pointer;
}

.container {
  position: relative;
}


.container,
.card,
.card_front,
.card_back {
  width: 157px;
  height: 300px;
  margin: 3em auto;  
  cursor: pointer;
}

.card_front {  
/*   height: 100%; */
  background: url('tarot.jpg') no-repeat;
  background-size: contain;
  box-shadow: 0px 5px 25px 0px rgba(51,51,51,0.28); 
}

.card-symbol {
  margin: 0;
  width: 100%;
  text-align: center;
  color: #000;
  font-family: 'Cantata One', serif;
  font-size: 13em;  
  mix-blend-mode: lighten;
}

@supports(display:flex){
 .card_front {  
    display: flex;
    align-items: center;
    justify-content: center;
  } 
  
  .card_front .card-symbol {  
    margin: 0 0.15em;
    border-radius: 50%;
    font-size: 15em; 
    margin-left:-10px 
  }
}

.card_front {
  position: relative;
  padding: 0 1em;
}

.card_front .card-symbol {    
  font-size: 15em;  
}



.card_back {
/*   display: none; */
  padding: 1em;
  background-color: white;
  height: 270px;
  width: 127px;
}

.card_front > *,
.card_back > * {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.75);  
}

.card-text {
  padding: 0 4.5em 1em;
  line-height: 1.4;
  transform: scale(-1, 1);
}

p:first-of-type {    
  margin-top: 0;
  padding: 1.5em 0 0;
  border-top: 8px solid #333;
}

/* FLIP CARD STYLING */
.container {
  perspective: 1000px;
}

.container:hover .card, 
.container.hover {
  transform: rotateY(-180deg);

}

.card {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  padding-left: 25px;
}

.card_front,
.card_back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.card_front {
  z-index: 2;
  transform: rotateY(0deg);
}

.card-front p {
  transform: scale(-1, 1);
}

.card_back {
  transform: rotateY(-180deg);
  z-index:5;
}

.cards span {
  width: 100px;
  display: inline-block;
}


.cards span:nth-child(odd) {
  animation: shadowFloat 1.2s linear alternate infinite;
}

.cards span:nth-child(even) {
  animation: shadowFloat2 1.2s linear alternate infinite;
}


@keyframes shadowFloat {
  0%   {
   transform: translateY(-3px);
 }
  100% {
   transform: translateY(3px); 
 }
}


@keyframes shadowFloat2 {
  0%   {
    transform: translateY(3px); 
  }
  100% {
    transform: translateY(-3px);
 }
}



.cards span {
  margin: 0 40px;
}